.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-very-small {
  margin-top: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #e9e9e9; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.7;
  color: #333333; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 1rem; }
  .heading-primary--sub {
    font-weight: 700;
    letter-spacing: .4rem; }

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 4rem;
  background-image: linear-gradient(to right, #03A9F4, #0277BD);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: skew(8deg, 2deg) scale(1.2);
    text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5); }

.body-text {
  line-height: 2em;
  display: block;
  letter-spacing: 0.15rem;
  font-size: 1.8rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 6rem;
  border-radius: 35px;
  border: none;
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.8);
  transition: all 0.5s; }

.btn:hover {
  transform: translateY(-0.8rem);
  background-color: #0277BD;
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.8);
  color: #fff; }

.btn:active, .btn:focus {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.btn-white {
  background-color: #fff;
  color: #333333; }

.btn-text:link, .btn-text:visited {
  color: #03A9F4;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #03A9F4;
  padding: .3rem;
  font-size: 1.4rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #03A9F4;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  .timeline__container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%; }
    .timeline__container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: white;
      border: 4px solid #FF9F55;
      top: 15px;
      border-radius: 50%;
      z-index: 1; }
  .timeline__content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px; }
    .timeline__content--highlight {
      font-size: 1.6rem;
      padding-top: 2rem;
      color: #ff7730;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-weight: 700; }
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px; }

.left {
  left: 0; }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white; }

.right {
  left: 50%; }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }
    .right::before::after {
      left: -16px; }
  .right::after {
    left: -16px; }

.section-about {
  margin-top: 8rem;
  position: relative; }

.about-img {
  background-size: cover;
  height: 55vh; }

.section-projects {
  position: relative;
  padding: 10rem 0; }

.header {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left; }
  .header__img {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%); }
    .header__img--self {
      height: 40vh;
      border-radius: 100%;
      margin: 3rem;
      transition: all 0.5s; }
      .header__img--self:hover {
        transform: scale(1.1);
        border: 10px solid #03A9F4; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.card {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  height: 35rem;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  position: relative; }
  .card:hover {
    transform: translateY(-1.5rem) scale(1.1); }
  .card__image--1 {
    background-blend-mode: screen;
    background-size: cover;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, #7ed56f, #28b485), url(/img/natours.png); }
  .card__image--2 {
    background-blend-mode: screen;
    background-size: cover;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, #ffb900, #ff7730), url(/img/world_cuisines.png); }
  .card__image--3 {
    background-blend-mode: screen;
    background-size: cover;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, #EF5350, #B71C1C), url(/img/pigdice.png); }
  .card__image--4 {
    background-blend-mode: screen;
    background-size: cover;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, #B0BEC5, #455A64), url(/img/linux-server.png); }
  .card__title {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 9rem;
    right: 1rem;
    width: 90%; }
  .card__title-span {
    padding: 0.6rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__title-span--1 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__title-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__title-span--3 {
      background-image: linear-gradient(to right bottom, rgba(239, 83, 80, 0.85), rgba(183, 28, 28, 0.85)); }
    .card__title-span--4 {
      background-image: linear-gradient(to right bottom, rgba(176, 190, 197, 0.85), rgba(69, 90, 100, 0.85)); }
  .card__details {
    margin-top: 0.5rem; }
    .card__details ul {
      list-style: none; }
      .card__details ul li {
        padding: 1.2rem 0rem;
        margin: 0 2.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #c8c8c8; }

.tech-img {
  width: auto;
  height: 3rem;
  padding: 0 1rem; }

.live-link--1:link, .live-link--1:visited {
  text-decoration: none;
  color: #0277BD;
  text-transform: uppercase;
  transition: all .2s; }
  .live-link--1:link:hover, .live-link--1:visited:hover {
    color: #28b485; }

.live-link--2:link, .live-link--2:visited {
  text-decoration: none;
  color: #0277BD;
  text-transform: uppercase;
  transition: all .2s; }
  .live-link--2:link:hover, .live-link--2:visited:hover {
    color: #ff7730; }

.live-link--3:link, .live-link--3:visited {
  text-decoration: none;
  color: #0277BD;
  text-transform: uppercase;
  transition: all .2s; }
  .live-link--3:link:hover, .live-link--3:visited:hover {
    color: #B71C1C; }

.live-link--4:link, .live-link--4:visited {
  text-decoration: none;
  color: #0277BD;
  text-transform: uppercase;
  transition: all .2s; }
  .live-link--4:link:hover, .live-link--4:visited:hover {
    color: #455A64; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
