.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #e9e9e9; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  line-height: 1.7;
  color: #333333; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 1rem; }
  .heading-primary--sub {
    font-weight: 700;
    letter-spacing: .4rem; }

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 4rem;
  background-image: linear-gradient(to right, #03A9F4, #0277BD);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s; }
  .heading-secondary:hover {
    transform: skew(8deg, 2deg) scale(1.2);
    text-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5); }

.body-text {
  line-height: 2em;
  display: block;
  letter-spacing: 0.15rem;
  font-size: 1.8rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 6rem;
  border-radius: 35px;
  border: none;
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.8);
  transition: all 0.5s; }

.btn:hover {
  transform: translateY(-0.8rem);
  background-color: #0277BD;
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.8);
  color: #fff; }

.btn:active, .btn:focus {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.btn-white {
  background-color: #fff;
  color: #333333; }

.section-about {
  margin-top: 8rem;
  position: relative; }

.about-img {
  background-size: cover;
  height: 55vh; }

.section-projects {
  position: relative;
  padding: 10rem 0; }

.header {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left; }
  .header__img {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%); }
    .header__img--self {
      height: 40vh;
      border-radius: 100%;
      margin: 3rem;
      transition: all 0.5s; }
      .header__img--self:hover {
        transform: scale(1.1);
        border: 10px solid #03A9F4; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.card {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  height: 35rem;
  overflow: hidden;
  transition: all 0.3s;
  position: relative; }
  .card:hover {
    transform: translateY(-1.5rem) scale(1.1); }
  .card__image--1 {
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    background-image: linear-gradient(to right, #B3E5FC, #0277BD); }
  .card__title {
    position: absolute;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    top: 3rem;
    right: 50%;
    transform: translateX(50%);
    color: #fff; }
  .card__details {
    margin-top: 0.5rem; }
    .card__details ul {
      list-style: none; }
      .card__details ul li {
        padding: 1.2rem 0rem;
        margin: 0 2.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #c8c8c8; }
        .card__details ul li a:link, .card__details ul li a:visited {
          text-decoration: none;
          color: #0277BD; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
