// COLORS
$color-primary: #03A9F4;
$color-primary-light: #B3E5FC;
$color-primary-dark: #0277BD;
$color-black: #000;
$color-white: #fff;
$color-grey-dark: rgb(51, 51, 51);
$color-grey-light: rgb(233, 233, 233);
$color-grey-light-1: rgb(200, 200, 200);
$default-font-size: 1.4rem;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;